.app {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 50%;
    margin: auto;
    padding: 1em;
    border: 2px solid grey;
    background-color: white;
}

.input {
    text-align: left;
    margin-bottom: 0.5em;
}

.button {
    width: fit-content;
    align-self: center;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px;
    background-color: rgb(95, 95, 240);
    color: white;
    cursor: pointer;
}

.button:disabled {
    color: brown;
    cursor: none;
}

.buttons {
    display: inline;
}